*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #D6E1F0;
}
main .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 6%;
    padding: 15px 15px 25px 15px;
}

main .container p:nth-last-child(2){
    width: 12em;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

main .container p{
    width: 16em;
    color: #abaeb4;
}

main .container .container-qr img{
    width: 20em;
    height: 20em;
    border-radius: 5%;
}

